<%- include('partials/header') %>

<div id="Changepassword">


  <h2>Change Password</h2>
  <p><strong> Hey <%=user%> ! </strong> Make sure you create a strong password this time too! </p>

  <%if(msg!=''){%>

    <div class="form-group alert alert-danger alert-dismissible m-2 fade show" role="alert">
      <strong><%=msg%> </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
  
  
  <%}%>

<form action="/changepassword" method="POST">

  <div class="form-group">
    <label for="exampleInputPassword1">Current Password*</label>
    <input type="password" class="form-control" name="currentpassword" id="exampleInputPassword1" placeholder="Current Password"  required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">New Password*</label>
    <input type="password" name="newpassword" class="form-control" id="exampleInputPassword2" placeholder="New Password" required>
    <small id="passHelp" class="form-text text-muted">We suggest to create a strong password with a combination of numbers , special characters , uppercase and lowercase letters</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword3">Confirm New Password*</label>
    <input type="password" name="confnewpassword" class="form-control" id="exampleInputPassword3" placeholder="New Password" required>
    <small id="conpassHelp" class="form-text text-muted">Please repeat the new password</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit"  data-toggle="tooltip" data-placement="right"  title="This will change your Password" class="btn btn-primary">Submit</button>

</form>
</div>
<%- include('partials/footer') %>
