
<%- include('partials/header') %>



<h2>Messages</h2>
<p>Check corrections about your Events here!</p>

<div id="Messages">


    <%if(messages.length!=0){%>

    <%messages.forEach((i)=>{%>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">New Message about <%=i.eventname%>!</h4>
            <p class="text-dark"<strong> <%=i.postCorrections %> </strong>. </p>
            <hr>
            <p class="mb-0 text-secondary"><strong>Note : </strong> Messages are automatically deleted after event approval.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

    <%})%>
    <%}%>

    <%if(messages.length==0){%>

        
          <h4 class="alert-heading text-center">Nothing Here! </h4>
        
      
      
      <%}%>
    

</div>

<%- include('partials/footer') %>
